$transitionColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionBg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionFill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionBorder: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionShadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionTransform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionOpasity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitionVisibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
