.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    @media screen and (min-width: 430px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px * 3) / 3);
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 6) / 6);
    }
  }
  &__link {
    border-width: 1px;
    border-style: solid;
    border-color: getColor(clients-icon-color);
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    transition: $transitionBorder;
  }
  &__icon {
    display: flex;
    fill: getColor(clients-icon-color);
    transition: $transitionFill;
  }
  &__link:hover,
  &__link:focus,
  &__link:hover &__icon,
  &__link:focus &__icon {
    border-color: getColor(accent-color);
    fill: getColor(accent-color);
  }
}
