.clients {
  &__container {
    @media screen and (max-width: 1199px) {
      margin-bottom: -30px;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px * 2) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px * 5) / 6);
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
  &__link {
    display: flex;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: getColor(clients-icon-color);
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    transition: $transitionBorder;
  }
  &__icon {
    display: flex;
    fill: getColor(clients-icon-color);
    transition: $transitionFill;
  }
  &__link:hover,
  &__link:focus,
  &__link:hover &__icon,
  &__link:focus &__icon {
    border-color: getColor(accent-color);
    fill: getColor(accent-color);
  }
}
