.header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: getColor(line-color);

  &__logo {
    padding-top: 24px;
    margin-right: 93px;
    @media screen and (max-width: 767px) {
      padding: 16px 0;
      margin: 0;
    }
  }
  &__logo--style {
    color: getColor(studio-stile-color);
  }
  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__main-nav {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__page-nav {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: getColor(title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: $transitionColor;
  }

  &__link:hover,
  &__link:focus {
    color: getColor(accent-color);
  }
  &__contact {
    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: auto;
    }
  }
  &__email {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }
  &__email,
  &__tel {
    color: getColor(primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    transition: $transitionColor;
  }
  &__email:hover,
  &__email:focus,
  &__tel:hover,
  &__tel:focus {
    color: getColor(accent-color);
  }
  &__email:hover &__icon-email,
  &__email:focus &__icon-email,
  &__tel:hover &__icon-phone,
  &__tel:focus &__icon-phone {
    fill: getColor(accent-color);
  }
  &__tel,
  &__email {
    display: flex;
  }

  &__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: getColor(primary-text-color);
    align-self: baseline;

    transition: $transitionColor;
  }
  &__icon-email {
    width: 16px;
    height: 12px;

    margin-right: 10px;
    fill: getColor(primary-text-color);
    align-self: baseline;

    transition: $transitionColor;
  }
  &__link--current {
    position: relative;
    color: getColor(accent-color);
  }
  &__link--current::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: rgba(33, 150, 243, 1);
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
  }
}
